<div class="left-div">


      <br>

      <!-- Output To Language -->
      <mat-card>
            <mat-form-field>
                  <mat-label> Översätt till</mat-label>
                  <br>
                  <mat-select style="width:100%;" matNativeControl (selectionChange)="translateTo($event)">
                        <mat-option *ngFor="let lang of languages" [value]="lang.code">{{lang.lang}}</mat-option>
                  </mat-select>
            </mat-form-field>
      </mat-card>
      <br>

      <!-- Manual text field-->
      <!--
      <mat-form-field style="width: 100%">
            <input matInput placeholder="Skriv ord" (click)="wordInput($event)" #wordinput>
      </mat-form-field>
      -->

      <br>

      <!-- Buttons -->
      <button style="padding:5px;width: 45%;" mat-raised-button color="primary" [disabled]="recording" (click)="startListen()">Get
            Voice <mat-icon>phone</mat-icon></button>
      <button style="padding:5px;width: 45%; float:right" mat-raised-button color="warn" [disabled]="!recording" (click)="stopListen()">Stop
            Voice<mat-icon>phone_missed</mat-icon></button>
      <!--
      <button style="padding:20px" mat-raised-button (click)="wordinput.click()">Translate</button>
                  -->
      <br>
      <br>

      <!-- Input Voice-->
      <!-- 
<p>Detected language: </p>
      <p id="detectedLanguage"></p>
      -->
      <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Voice Input</mat-label>
            <input [disabled]="true" [value]="message" matInput>
      </mat-form-field>
      <br>

      <!-- Input Voice Translated-->
      <mat-form-field appearance="outline" style="width: 100%" class="temp">
            <mat-label>Translated Output</mat-label>
            <textarea disabled [value]="translateMsg" matInput></textarea>
      </mat-form-field>
</div>

<div class="right-div">

      <p>Operator side</p>
      <div class="input-group" id="textareaOperator">
            <textarea id="textareaOperatorId" class="form-control custom-control" #inputWord (click)="wordInputText($event)"rows="3" value="" style="resize:none"></textarea>
            <span class="input-group-addon btn btn-primary" id="translateButton" (click)="inputWord.click()"><mat-icon>g_translate</mat-icon></span>
      </div>

      <br>

      <p>Translated text</p>
      <div class="input-group" id="textareaTranslated" >
            <textarea [value]="typeMsg" id="textareaTranslatedId" class="form-control custom-control" #say (click)="sayText($event)" rows="3" style="resize:none"></textarea>
            <span class="input-group-addon btn btn-primary" id="synthesisSpeechButton" (click)="say.click()"><mat-icon>volume_up</mat-icon></span>
            <textarea  disabled [value]="detectedLanguage" style="width: 60px"  class="form-control custom-control"  rows="3"></textarea>
            <span class="input-group-addon btn btn-primary" ><mat-icon>language</mat-icon></span>
           
      </div>

</div>





<!--
          <div class="container">
                 
            <h5> Voice Input</h5>
            <textarea class="form-control custom-control input-group" rows="3" style="resize:none">{{message}}</textarea>
            <div [@answerAnim]="anim">
            <h5> Translated Voice</h5>
            <textarea class="form-control custom-control input-group" rows="3" style="resize:none">{{translateMsg}}</textarea>
            </div>
      </div>
   <p>Raw speech-to-text</p>
      <div class="input-group" id="textareaTranslated">
            <textarea class="form-control custom-control" rows="3" style="resize:none">{{message}}</textarea>
      </div>

      <br>

      <p>Translated speech</p>
      <div class="input-group" id="textareaTranslated">
            <textarea class="form-control custom-control" rows="3" style="resize:none">{{translateMsg}}</textarea>
      </div>
      <p>Select translated language</p>
     

</div>
-->
<!-- Input From Language -->
<!--
      <mat-card>
            <mat-form-field>
                  <mat-label> Översätt från</mat-label>
                  <br>
                  <mat-select style="width:100%;" matNativeControl (selectionChange)="translateTo($event)">
                        <mat-option *ngFor="let lang of languages" [value]="lang.code">{{lang.lang}}</mat-option>
                  </mat-select>

            </mat-form-field>
      </mat-card>
      -->
<!--


<div class="right-div">

      <p>Operator side</p>
      <div class="input-group" id="textareaOperator">
            <textarea class="form-control custom-control" rows="3" style="resize:none">Placeholder</textarea>
            <span class="input-group-addon btn btn-primary" id="translateButton" onclick="textTranslate()">Translate</span>
      </div>

      <br>

      <p>Translated text</p>
      <div class="input-group" id="textareaTranslated">
            <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>
            <span class="input-group-addon btn btn-primary" id="synthesisSpeechButton">Synthesis speech</span>
      </div>

</div>
-->