<div class="left-div">
      <mat-radio-group>
            <mat-label> Översätt från</mat-label>
            <br>
            <mat-radio-button  *ngFor="let lang of languages" [value]="lang.code" (click)="translateFrom(lang)">{{lang.lang}}</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-radio-group>
                  <mat-label> Översätt till</mat-label>
                  <br>
                  <mat-radio-button  *ngFor="let lang of languages" [value]="lang.code" (click)="translateTo(lang)">{{lang.lang}}</mat-radio-button>
            </mat-radio-group>
<br>
      <button mat-raised-button color="primary" [disabled]="recording" (click)="startListen()">Get Voice</button>
      <button mat-raised-button [disabled]="!recording" (click)="stopListen()">Stop Voice</button>
      <button mat-raised-button (click)="translate()">Translate</button>

      <div class="container">
            <h5> Voice Input</h5> <p> {{message}}</p>
            <div [@answerAnim]="anim">
            <h5> Translated Voice</h5>  <p>{{trans}}</p>
            <h2>dawdawdawd</h2>
            </div>
      </div>
<!--
   <p>Raw speech-to-text</p>
      <div class="input-group" id="textareaTranslated">
            <textarea class="form-control custom-control" rows="3" style="resize:none">{{message}}</textarea>
      </div>

      <br>

      <p>Translated speech</p>
      <div class="input-group" id="textareaTranslated">
            <textarea class="form-control custom-control" rows="3" style="resize:none">{{translateMsg}}</textarea>
      </div>
      <p>Select translated language</p>
     

</div>

<div class="right-div">

      <p>Operator side</p>
      <div class="input-group" id="textareaOperator">
            <textarea class="form-control custom-control" rows="3" style="resize:none">Placeholder</textarea>
            <span class="input-group-addon btn btn-primary" id="translateButton" onclick="textTranslate()">Translate</span>
      </div>

      <br>

      <p>Translated text</p>
      <div class="input-group" id="textareaTranslated">
            <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>
            <span class="input-group-addon btn btn-primary" id="synthesisSpeechButton">Synthesis speech</span>
      </div>

</div>
-->
   